*{
    box-sizing: border-box;
}

body{
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100%;
}

#root{
    width: 100%;
}
h1{
    text-align: center;
}

.timline-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timline-container::after{
    background-color: tomato;
    content: ''; 
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%; 
}

.timeline-item:nth-child(odd){
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0px;
}

.timeline-item-content{
    background-color: #faf8f8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 70%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    text-align: right;
}
.timeline-item-content::after{
    content: '';
    background-color: #fff;
    width: 15px;
    height: 15px;
}
.timeline-item:nth-child(odd) .timeline-item-content{
    align-items: flex-start;
    text-align: left;
}