:root{
    --main-color: #191c2f;

}
body{
    background-color: var(--main-color);
    color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-list{
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 
        /* the top layer ahadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* the secand layer */
        0 10px 0 -5px #eee,
        /* the secand layer shadow */
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* the secand layer shadow */
        0 20px 0 -10px #eee,
        /* the secand layer shadow */
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

/* Input section */
input[type=text]{
    outline: none;
    border: none;
    border-bottom: 1px solid  #191c2f71;
    text-align: center;
    width: 50%;
    padding: 20px 0px 0 20px;
    font-size: 15px; 
}

input[type=text]:focus{
    border-color: var(--main-color);
}

button[type=submit]{
    width: 10%;
    color: var(--main-color);
    font-weight: 900;
    font-size: 1rem;
}
select{
    width: 32%;
    font-size: 15px;
    color: var(--main-color); 
    border: none;
    background: transparent;
    outline: none;
}

select option{
    text-align: center;
    color: white;
    outline: none;
    background-color: var(--main-color);
}
select option:active{
    background-color: var(--main-color);
}
select:focus{
    border-color: var(--main-color);
}

select option:hover{
    background-color: var(--main-color);
}

/* list section */
.todo{
    
} 
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0px 0 10px; 
    border-bottom: 1px solid  #191c2f71;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--main-color);
}
li{
    list-style: none;
}
button{ 
    font-size: 1rem;
    background: transparent;
    outline: none;
    border: 0; 
    margin: 0.3rem 0 0.3rem 0.3rem;
    font-weight: 900;
    cursor: pointer;
    

}
button .btn{
    color: var(--main-color);
} 
button .btn:hover, button[type=submit]:hover{
    color: #191c2f71;
}

