:root{
    --bg-color: #181818;
    --font-color: #ffffff;
    --font-light-color: rgb(163 163 163);
    --shadow-color: #d6d6ed; 
    --transition: all 0.5s ease-in-out;
    --menu-color: #000000bf;
}
*{ 
    margin: 0; 
}
html{
    scroll-behavior: smooth;
}
body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* App */

.App{
    background-color: var(--bg-color);
}

/* rows */

.rows{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 20%;
    border: none;
}
.rows h2{ 
    text-align: left;
    margin: 1rem;
}
.posters{
    display: flex;
    overflow-x: scroll;  
    overflow-y: hidden;
    padding: 20px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.posters-img{
    margin-right: 10px;
    max-height: 150px;
    width: 100%; 
    object-fit: contain;
    transition: transform 450ms;
    cursor: pointer;
} 

.posters-img:hover{
    transform: scale(1.08);
}

.postersLarge-img{
    max-height: 250px;
}
.postersLarge-img:hover{
    transform: scale(1.09);
}

.banner-fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}

/* Banner */

.banner{
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner-contant{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem
}
.desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width:360px;
    height: 80px;
}

/* button */

.banner-button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    background-color: rgb(51, 51, 51, 0.5);
}
.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
/* Menu bar */
.menu-bar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: flex-start; 
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s; 
}

.menu-logo{
    width: 110px;
    position: fixed;
    left: 20px;
    object-fit: contain;
}

.menu-black{
    background-color: #111;
}